.label-italic {
	text-decoration: underline;
	margin-right: .3rem;
}
.val {
	color: #5f5f5f;
}
#valeur {
	    font-weight: bold;
    color: #7b389e;
}

.offre-validite {
	    display: flex;
    flex-direction: row-reverse;
    font-size: small;
    font-weight: 500;
    background-color: #16d41c;
    color: #ffffff;
    padding: .2rem .4rem;
    align-items: center;
    border-radius: .2rem;
    margin: 0 .1rem;
}

.offre-prix {
	    background-color: #a6b4bc;
    padding: .2rem;
    border: 1px solid #a1a1a1;
    border-radius: .2rem;
    color: #ffffff;
    font-weight: 500;
}
.offre-nom {
	font-size: 1.5rem;
    font-weight: 500;
    color: #647781;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
.info-offre-droite {
	display: flex;
}
.forfait-produit {
	    display: flex;
    background-color: #7b389ede;
    padding: .1rem;
    color: #ffffff;
    font-weight: 500;
    margin-top: .7rem;
    border-radius: 3px;
    width: 25%;
    justify-content: center;
    font-size: .8rem;
}
.list-card-offre {
	display: flex;
	justify-content: space-around;
	    align-items: flex-start;
}
.card-offre {
	display: flex;
	flex-direction: column;
	padding: 10px;
	background-color: white;
	border: 1px solid #9400d375;
	flex-basis: 550px;
	flex-grow: 1;
	margin: 0px 20px;
	border-radius: .3rem;
}

.info-offre {
	display: flex;
	flex-direction: row;
	padding: 10px;
	border: 1px dotted darkgray;
	border-radius: 5px;
	background-color: whitesmoke;
	justify-content: space-between;
}

.liste-forfait {
	display: flex;
	flex-direction: column;	
}

.forfait-utilisation {
	display: flex;
	flex-direction: column;
	padding: 10px;
	background-color: cornsilk;
	border: 1px dashed darkgray;
	font-size: smaller;
}

.button {
	display: flex;
	justify-content: flex-end;	
}