<!-- <p>modification-forfait works!</p> -->
&nbsp;&nbsp;&nbsp;<b><i>{{forfait.produit}} </i></b><br>
<div *ngIf ="forfait.valeur != null" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [(ngModel)] = "forfait.valeur" > <i> {{forfait.unite}} </i><br><br></div>
<div *ngIf= "forfait.utilisation != null " >
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Telma: </i><input [(ngModel)] = "forfait.utilisation.operateur" type="number" min="1"><i> {{forfait.unite}} </i><br><br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Autres operateurs: </i><input [(ngModel)] = "forfait.utilisation.autres" type="number" min="1"><i> {{forfait.unite}} </i><br><br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>International: </i><input [(ngModel)] = "forfait.utilisation.international" type="number" min="1"><i> {{forfait.unite}} </i>
  <div *ngIf ="forfait.utilisation.unite != null" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>par {{forfait.utilisation.unite}} </small></div>
</div>
<!-- <button (click) = "update()" >Modifier</button> -->
<br><br>
